*{
    margin:0;
    padding:0;
    background-color: rgb(45,45,45);
}

.container{
    width:80%;
    margin: auto;
    background-color: white;
    min-height: 100vh;
    padding:100px 50px;
    box-sizing: border-box;
}
.container h1{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container input{
    padding: 10px;
    margin: 10px 0px;
    width: 60%;
    background-color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    outline: 0.1 px  black;
}
button{
    padding: 10px;
    color: white;
    margin: 10px 0px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    outline: 0.1 px  black;
}
button:hover{
    background-color: blueviolet;
    transition: 0.5s;
}
.paras{
    background-color: rgb(205, 203, 203);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px 0px;
    width: 70%;
}